html, body{
	/*font-family: 'Roboto', sans-serif;*/
	font: 12px/1.5em Arial,Helvetica,sans-serif;
}

.cclear > *:after{
  	content: "";
 	display: table;
  	clear: both;
}

a{
	color: #08c;
	cursor: pointer;
}
.dac{
	color: #024;
	font-weight: 700;
	text-decoration: none;
}
.dul{
	color: #999;
}
a:hover{
	color: #06c;
}
.hig{
	color: #08c;
	
}
.tsd{
	text-shadow: 1px 1px rgba(255,255,255,.75);
}
.yellow{
	color: #ff0;
}
.bgsilver{
	color: #ccc;
}
.bgf7f7f7{
	background-color: #f7f7f7;
}
.bgfff{
	background-color: #fff;
}
.bgdark2, .bgdark2.no-hover:hover{
	background-color: #c30;
}
.bgdark2.no-hover:hover{
	border: 1px solid #ccc;
}
.bgee{
	background: #eee;
}
.white, .white a, a.white {
    color: #fff;
}
.cyan, .silver, .yellow, .smoke, .white {
    text-shadow: 1px 1px rgba(0,0,0,.5);
}
.dw{
	color: rgba(255, 255, 255, 0.8);
}
a.dw:hover{
	color: rgba(255, 255, 255, 0.8);
}

.green{
	color: #060;
}
.dif{
	color: #c30;
}
.large{
	font-size: 1.1em;
}
.xlarge {
    font-size: 1.2em;
}
.xxlarge{
	font-size: 1.3em;
}
.fa.xxxlarge{
	font-size: 2.9em;
}
.b{
	font-weight: 700;
}
.btn{
	border-radius: 0px;
}
.up{
	text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}

h1{
	font-size: 1.5em;
}
h2{
	font-size: 1.1em;
}

ul{
	padding-left: 0px;
	list-style: none;
}

.bdr{
	border: 1px solid #ccc;
}
.bdrd{
	border-right: 1px dashed #ccc;
}
.bdrb{
    border-bottom: 1px solid #ccc;
}
.bdrt{
	border-top: 1px solid #ccc;
}
.br5{
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.pd10{
	padding: 10px;
}
.pd20{
	padding: 20px;
}
.pdt10{
	padding-top:10px;
}
.pdt20, .ac-pdt20 > *{
    padding-top:20px;
}
.pdb20{
    padding-bottom:20px;
}
.pdb30{
    padding-bottom:30px;
}
.pdb7{
	padding-bottom: 7px;
}
.mt10{
	margin-top: 10px;
}
.mt20, .ac-mt20 > *{
	margin-top: 20px;
}
.fc-mt0 > *:first-child{
	margin-top: 0px;
}
.mt30{
	margin-top: 30px;
}
.mb20{
	margin-bottom: 20px;
}
.mb5{
	margin-bottom: 5px;
}
.pdr5{
	padding-right: 5px;
}
.b{
	font-weight: bold;
}
.nb{
	font-weight: normal;
}
.pr{
	position: relative;
}
.ac-bdrt > *{
	border-top: 1px solid #ccc;
}
.bdrt.dashed, .ac-bdrt.dashed > *{
	border-top-style: dashed;
}
.fc-btw0 > *:first-child{
	border-top-width: 0 !important;
}
.pr.bda:before,.pr.bda:after{
	border: 6px solid transparent;
    content: "";
    position: absolute;
    left: 15px;
    
}
.pr.bda:before{
	top: 23px;
    border-top-color: #ccc;
}
.pr.bda:after{
	top: 22px;
    border-top-color: #fff;
}
a.no-u:hover,
a.no-u:focus{
	text-decoration:none;
}

.logo{
	width: 178px;
	height: 46px;
	background: url('../images/logo.png') no-repeat;
	display:block;
	text-indent: -2500px;
}

#searchForm .input-group-addon{
	padding: 2px 12px;
}
#searchForm .search-term{
	height:46px;
}
#searchForm output{
	padding-top: 0px;
	display: inline;
}
.search-option{
	border-right: 0px;
}
#searchForm .search-btn{
	padding: 2px;
}
.search-btn .btn{
    padding: 10px 14px;
    background-color: #666;
    text-shadow: 1px 1px rgba(0,0,0,.5);
    border: 0px;
}
.post-buy-lead .btn{
	padding: 12px 12px;
}
.main-nav .container,
.main-nav .navbar-collapse{
	padding-left: 0px;
}

.page-heading{
	border-bottom: 1px solid #eee;
	font-size: 1.5em;
	padding-bottom: 7px;
	text-shadow: 1px 1px rgba(255,255,255,.75);
}


.navbar{
	margin-bottom: 5px;
}
.navbar-nav.navbar-right:last-child{
	margin-right: 0px;
}

.category p{
	padding-bottom: 5px;
}
.category figure{
	width: 170px;
	height: 120px;
}

.category .img{
	padding: 2px;
	border: 1px solid #ccc;
	display: inline-block;
}
.more-cat{
	text-align: center;
}
.more-cat a{
	padding: 6px 12px;
	border: 1px solid #ccc;
	background-color: #08c;
	color: rgba(255, 255, 255, .9);
}
aside{
	margin-top: 10px;
}
aside .row{
	margin-right: 0px;
}
.intro-acc{
	background: #428bca;
	border-color: #357ebd;
	border: 1px solid transparent;
	color: #fff;
}
.intro-acc a{
	color: #fff;
}
.intro-acc .fa-user{
	font-size: 50px;
	color: #fff;
}
.bsnav{
	padding-right: 0px;
}
.bsnav li{
	width: 50%;
}
.nav-tabs.bsnav > li > a[aria-controls="forBuyer"]{
	border-right-color: transparent;
}
.bsnav-content ul{
	padding-top: 10px;
	height: 160px;
}
.adv-container .col-md-12{
	padding-left: 0px;
	padding-right: 0px;
}
.ms-pnl .col-md-12:first-child{
	background: #c30;
	color: rgba(255,255,255,.8);
	padding-top: 5px;
	padding-bottom: 5px;
}
.ms-pnl{
	padding-bottom: 5px;
}
.banner{
	padding-left: 10px;
	padding-right: 5px;
	overflow: hidden;
	height: 30px;
	margin-bottom: 5px;
}
.banner .fa-arrow-circle-right{
	color: #c30;
}
.banner li{
	padding: 5px;
}
.featured .inner{
	background-color: #fff;
	padding: 10px;
}
.featured li p{
	padding-left: 10px;
	color: #666;
}
.featured.products .col-md-1{
	width: 5%;
}
.featured.products .col-md-10{
    width: 90%;
    padding-left: 20px;
    padding-top: 20px;
}
.featured.products img{
	border: 1px solid #ccc;
    padding: 4px;
}
.left-nav,.right-nav{
	padding-top: 90px;
}
.featured.products .fa-angle-left,
.featured.products .fa-angle-right{
	font-size: 2em;
    background-color: #eee;
    padding: 15px 7px;
    cursor: pointer;
}

.top-footer mark{
	background: none;
	margin-bottom: 10px;
}
.top-footer a{
	color: #333;
}
.footer-container{
	background: #08c;
	color: rgba(255, 255, 255, 0.8);
}

.btn.quick-btn{
	background-color: #f2f9ff;
    color: #08c;
    font-size: 12px;
    padding: 3px 10px;
}

.siginin-info{
	min-height: 450px;
}
.siginin-info .page-heading{
	border-bottom: transparent;
}

.siginin-info ul{
	padding-left: 30px;
}

.siginin-info ul>li{
	margin-bottom: 10px;
}

.signin-form {
	background-color: #fff;
    padding: 20px 15px;
    position: relative;
}

.signin-form form{
	border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
}

.signin-form .phelp{
	display: block;
    position: absolute;
    right: 15px;
    bottom: 140px;
}

.signin-form .join-free-btn{
	display: block;
    padding: 15px;
}

/* new buy lead page */
.adv li{
	/*clear: both;*/
}
.adv .fa{
	margin-right: 25px;
}
.adv .desc{
	display: inline-block;
    width: 180px;
    float: right;
}