html, body{
	/*font-family: 'Roboto', sans-serif;*/
	font: 12px/1.5em Arial,Helvetica,sans-serif;
}

a{
	color: #08c;
}
.btn{
	border-radius: 0px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}
.bdrb{
    border-bottom: 1px solid #ccc;
}
.pdt10{
	padding-top:10px;
}
.nb{
	font-weight: normal;
}
.hig{
	color: #08c;
}
.auth-menu a:hover,
.auth-menu a:focus{
	text-decoration:none;
}

.logo{
	width: 178px;
	height: 46px;
	background: url('../images/logo.png') no-repeat;
	display:block;
	text-indent: -2500px;
}

#searchForm .input-group-addon{
	padding: 2px 12px;
}
#searchForm .search-term{
	height:46px;
}
#searchForm output{
	padding-top: 0px;
	display: inline;
}
.search-option{
	border-right: 0px;
}
#searchForm .search-btn{
	padding: 2px;
}
.search-btn .btn{
    padding: 10px 14px;
    background-color: #666;
    text-shadow: 1px 1px rgba(0,0,0,.5);
    border: 0px;
}
.post-buy-lead .btn{
	padding: 12px 12px;
}
.main-nav .container,
.main-nav .navbar-collapse{
	padding-left: 0px;
}

.page-heading{
	border-bottom: 1px solid #eee;
	font-size: 1.5em;
	padding-bottom: 7px;
	text-shadow: 1px 1px rgba(255,255,255,.75);
}

.large{
	font-size: 1.1em;
}

.navbar{
	margin-bottom: 5px;
}
.navbar-nav.navbar-right:last-child{
	margin-right: 0px;
}

.category figure{
	width: 175px;
	height: 120px;
}

