html, body{
	/*font-family: 'Roboto', sans-serif;*/
	font: 12px/1.5em Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}
.bdrb{
    border-bottom: 1px solid #ccc;
}
.hig{
	color: #08c;
}
.page-heading{
	border-bottom: 1px solid #eee;
	font-size: 1.5em;
	padding-bottom: 7px;
	text-shadow: 1px 1px rgba(255,255,255,.75);
}

.large{
	font-size: 1.1em;
}

.navbar{
	margin-bottom: 5px;
}
.navbar-nav.navbar-right:last-child{
	margin-right: 0px;
}

.category figure{
	width: 175px;
	height: 120px;
}